@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image:url(../img/background.png);
    padding-left: 5%;
    background-position: center;
    background-size: cover;
    padding-right:5% ;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    width: 40px;
    cursor: pointer;
}

nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;

}

.content p{
    font-size: 20px;
    color: #6a7199;
}

.content{
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#871dfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color:#fff ;
    box-shadow: 3px 8px 22px rgba(94, 28, 60, 0.15);

}

.flechas{
    margin-top: 40px;
    display: flex;
    }
    
    .mifle{
        font-size: 50px;
        margin-right: 25px;
        color: #000;
        
        
        }
    .mujer{
            height: 90%;
            position: absolute;
            bottom: 0;
            right: 65px;
            }

.socials{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.socials a{
    padding-right: 20px;
}


.efecto {
    position: relative;
    color: #000; /* Ajusta el color del texto según tus necesidades */
    text-decoration: none; /* Elimina la subrayado predeterminado */
  }
  
 .efecto::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000; /* Ajusta el color de la línea según tus necesidades */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
 .efecto:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  